.img-login{
    background-size: contain;
    background-position: top;
    height: calc(100vh - var(--navbar-height)) ;
    }
@media (max-width: 500px) {
    .img-login{
        background-image: url( "../../../../assets/images/background.png");
        height: 80px;
        background-repeat: no-repeat;
    }
}

@media  (min-width: 1300px) {
    .img-login{
        background-image: url( "../../../../assets/images/background.png");
    }
}
@media (min-width: 501px) and (max-width: 1299px) {
    .img-login{
        background-image: url( "../../../../assets/images/background.png");
    }
}
